# Git
.git
.gitignore

# Docker
.docker

# Python
collectivo-test-app/__pycache__/
collectivo-test-app/*/__pycache__/
collectivo-test-app/*/*/__pycache__/
collectivo-test-app/*/*/*/__pycache__/
.env/
.venv/
venv/
